* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}

body {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    margin: auto;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    transition: all ease-in-out 4s;

}

h3 {
    height: 0;
}

.container {
    height: 100%;
    overflow: scroll;
    background: hsla(220, 50%, 50%, 0.3);
    position: relative;
    transition: all ease-in-out 4s;
}

.heading-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0px 40px 0px;
    margin: 0;
}

.li-and-remove-btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: center;
    /*justify-content: space-between;*/
    /*width: 100vw;*/
    /*margin: 1rem 1rem;*/
}


.err-message {
    display: flex;
    height: 2px;
    justify-content: center;
    opacity: 0;
    align-items: center;
    /*margin: 0 0 0 6rem;*/
    /*margin: 0 50%;*/
    margin: 0.99rem 5rem;
    padding: 25px 15px;
    /*transform: translateY(60px) translateX(60px);*/
    background-color: hsla(220, 50%, 30%, 0.9);
    border-radius: 20px;
    color: white;
    border: 5px solid hsla(220, 50%, 50%, 0.8);
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
}


.img-resize {
    height: 100px;
    border-radius: 20px;
    width: 120px;
    width: 20%;
    opacity: 0;
    border: 3px solid hsla(220, 50%, 50%, 1);

}

h1 {
    padding: 50px 0;
}

.movie-wrapper,
form,
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.movie-wrapper {

    background: hsla(220, 50%, 50%, 0.4);
    padding: 5px;
    border-bottom: 1px solid hsla(220, 50%, 50%, 0.8);
    display: flex;
    align-items: center;
    height: auto;
    justify-content: space-between;
    justify-content: center;
}

button {
    background: hsla(40, 100%, 80%, 1);
    /*margin: 0 1rem 0 0;*/
    font-size: 0.8rem;
    padding: 6px 10px;
    border: 3px solid hsla(220, 50%, 50%, 1);
    border-radius: 20px;

}

button:hover {
    background: hsla(360, 100%, 80%, 1);

}

form button:hover {
    background: hsla(60, 100%, 99%, 1);

}

form button:active {
    background: hsla(220, 100%, 20%, 1);

}

li {
    border: 3px solid hsla(220, 50%, 50%, 1);
    text-decoration-style: none;
    list-style-type: none;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    margin: 0 9rem;
    background: hsla(290, 50%, 95%, 1);

}

form {
    background: hsla(220, 50%, 50%, 0.7);

    padding: 30px 0;
    border-bottom: 1px solid blue;
    display: flex;
    align-items: center;
    /*margin: 0.2rem 0;*/
    justify-content: center;
}

img {
    /*margin: 0 0 0 1rem;*/
    font-size: 1.4rem;
    border: 1px solid hsla(220, 50%, 50%, 1);
}

input {
    background: hsla(290, 50%, 95%, 1);
    margin: 0 1rem 0 0;
    font-size: 0.8rem;
    padding: 6px 10px;
    border: 3px solid hsla(220, 50%, 50%, 1);
    border-radius: 20px;

}